/*call this from className*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
:root, a, .li, p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-top: 0;
}

/* NAV BAR */

#nav .li {
  margin: 0 2.5% 0 2.5%;
  display: inline;
  padding: 7px 10px 6px 10px;
  user-select: none;
  color: #000000;
  transition: all 0.35s;
  font-weight: 700 !important;
  text-transform: uppercase;
  text-decoration: none;
}

#nav #active {
  user-select: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}

#nav {
  position: fixed;
  top: 25px;
  right: 25px;
  display: flex;
  flex-direction: row-reverse;
}